[submodule "artery-font-format"]
	path = artery-font-format
	url = https://github.com/ThorsDev/artery-font-format
[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/ThorsDev/msdfgen.git
	branch = master
